*, *:after, *:before{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:none;
}
:root{/*Цвета*/
    --dark-bg: #171718;
}
input, button{
    outline: none;
    border:none;
    padding:0 2px;
    height:30px;
    width:275px;
    border:3px solid blueviolet;
    border-radius: 6px;
    font-size: 16px;
}
h2{
    color:white;
    padding:0px 2px;
}
a{
text-decoration: none;
color:white;
font-size:16px;
}
ul{
list-style: none;

}
body{
    height:100vh;/*Во всю ширину*/
    background-color:var(--dark-bg);
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    row-gap:20px;
}
form{
display:grid;
row-gap:10px;
}
.btn-submit{
    width:205px;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
}
.nav-list{
    display:flex;
    row-gap:2px;
    justify-content: space-between;
}
.nav-list-item a{
border-bottom: 1px solid blue;
&:hover{
    opacity: 0.8;
}
}
